{% extends 'base.html.twig' %}

{% block title %}{{ 'demo.page_title'|trans({ '%title%': title }, _demo_domain) }}{% endblock %}

{% block body %}
<h1>{{ title }}</h1>
<p>{{ 'demo.route_info'|trans({ '%section%': section }, _demo_domain)|raw }}</p>
<p><a href="{{ path('app_home') }}">{{ 'demo.back_home'|trans({}, _demo_domain) }}</a></p>
{% endblock %}
