{% extends 'base.html.twig' %}

{% block title %}{{ 'demo.home_title'|trans({}, _demo_domain) }}{% endblock %}

{% block body %}
<h1>{{ 'demo.bundle_demo'|trans({}, _demo_domain) }}</h1>
<p>{{ 'demo.sidebar_rendered_short'|trans({}, _demo_domain)|raw }}</p>
<p>{{ 'demo.api_json'|trans({}, _demo_domain) }} <a href="{{ path('nowo_dashboard_menu_api', { code: 'sidebar' }) }}">GET /api/menu/sidebar</a></p>
{% endblock %}
